:root {
	font-family: monospace;

	color: var(--white);
	background-color: var(--black);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-size: 16px;

	--white: #acb1bd;
	--black: #21242a;
	--red: #e06c75;
	--green: #98c379;
	--yellow: #e5c07b;
	--blue: #61afef;
	--magenta: #c678dd;
	--cyan: #56b6c2;
}

button {
	font-family: monospace;
	font-size: 16px;
}

a {
	color: var(--cyan);
}

.magenta {
	color: var(--magenta);
}

.cyan {
	color: var(--cyan);
}

.green {
	color: var(--green);
}
